<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.webra.mapper.RoleMapper">
    <resultMap type="Role" id="roleResult">
        <id     property="id"           column="id"           />
        <result property="title"        column="title"        />
        <result property="authIds"      column="auth_ids"     />
        <result property="serial"       column="serial"       />
        <result property="state"        column="state"        />
        <result property="remark"       column="remark"       />
        <result property="createTime"   column="create_time"  />
        <result property="updateTime"   column="update_time"  />
    </resultMap>

    <select id="getRoleList" resultMap="roleResult">
        select id,title,code,serial,state,remark,create_date,auth_ids
        from `wra_role`
        <where>
            <if test="title != null and title != ''">title like '%${title}%'</if>
            <if test="code != null and code != ''">AND code like '%${code}%'</if>
            <if test="state != null"> AND `state`=#{state}</if>
            <if test="createDateStart != null and createDateStart != ''">
                AND create_date between #{createDateStart} and #{createDateEnd}
            </if>
        </where>
        order by serial
    </select>
</mapper>
